*{
padding:0;
margin:0;
box-sizing:border-box;    
}

body{
width:100%;    
overflow-x:hidden;
font-family: 'Saira Condensed', sans-serif;
}


.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(38, 38, 39);
  color: white;
  padding:30px;
}

.logo {
  font-size: 1.5rem;
  margin: .5rem;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: rgb(178, 255, 204);
}

.menu-button {
  position: absolute;
  top: 2.5rem;
  right: 1rem;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.menu-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.content{
background-image:url('../img/bg.jpg');
background-size:cover;
width:100%;
padding:10em;  
}

.txt-content{
margin-right:50px;
}




.content h1{
color:rgb(31, 230, 137);
font-size:5.2rem;
margin:0 auto;  
}


.content h4{
  color:rgb(31, 230, 137);
font-size:1.85rem;
}

.content h3{
  color:rgb(31, 230, 137);
font-size:1.85rem;
}



h1{
  color:rgb(31, 230, 137);
margin:20px 0px 20px;
font-size:4rem;
}

h3{
color:white;
font-size:2rem;
margin-bottom:20px;    
}
h4{
color:#fff;
letter-spacing:2px;
font-size:1.4rem;    
}

.main{
display:flex;
align-items: center;
justify-content:space-around;
width:100%;   
}

.img-main{
width:40%;    
}

.about{
width:100%;
padding:100px 0px;
background-color:#191919;
}

.box-about{
display:flex;
align-items:center;
justify-content:center;  
}

.about img{
height:auto;
width:45%;    
}

.about-text{
width:40%;
margin-left:35px;    
}

.about-text h2{
color:rgb(31, 230, 137);
font-size:3.2rem;    
}

.about-text span{
font-size:1.7rem;    
}

h5{
color:white;
font-size:1.7rem;
margin-top:10px;    
}

.about-text p{
color:white;
font-size:1.3rem;
margin-top:10px;    
}


.box-projetos{
margin-left:50px;  
}

.projetos{
width:100%;
padding:100px 0px;
background-color:#191919;
}

.txt-projetos{
text-align:center;    
}

.img-projetos{
width:70%;    
}

.box-itens{
display:flex;
align-items:center;
margin-top:100px;
margin-left:50px;
}

.box-itens h5{
font-size:1.3rem;    
}

.btn-ver{
background-color:rgb(31, 230, 137); 
font-size:1.0rem;
width:7.5em;
cursor: pointer;
margin-top:30px;    
}

.btn-ver:hover{
background:#fff;
color:black;
transition:1s ease;    
}

.item h5{
font-size:1.0rem;
margin-top:20px;
}

.contato{
    width:100%;
    padding:100px 0px;
    background-color:#191919;
    }
    
    .contato h1{
    text-align:center;    
    }

    .box-contato{
     display:flex;
     align-items: center;
    justify-content:center;
    margin-top:80px;
    }

    .logo-contato{
    width:9.375em;
    height:10em;
    margin:30px;    
    }

    .contato h5{
     text-align:center;
     margin-top:40px;   
    }


   
  
    @media (max-width: 800px) {
      .navbar {
          flex-direction: column;
          align-items: flex-start;
      }
  
      .menu-button {
          display: flex;
      }
  
      .navbar-links {
          display: none;
          width: 100%;
      }
  
      .navbar-links ul {
          width: 100%;
          flex-direction: column;
      }
  
      .navbar-links ul li {
          text-align: center;
      }
  
      .navbar-links ul li a {
          padding: .5rem 1rem;
      }
  
      .navbar-links.active {
          display: flex;
      }

      .content{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
      }

      .txt-content{
       display:flex;
       flex-direction:column;
       justify-content:center;
       align-items:center;
       gap:20px;
      }

      .txt-content h4{
      font-size:1.35rem;  
      }

      .txt-content h1{
      font-size:3.60rem;  
      }

      .box-about{
       display:flex;
       flex-direction:column;
       justify-content:center;
       align-items:center;
      }

      .about-text{
      display:flex;
      flex-direction:column;
      align-items:center;
      justify-content:center;
      }

      


      .item h5{
      text-align:center;  
      }
     


     .box-projetos{
     margin-left:50px;  
     }


     .txt-projetos{
      margin-right:50px; 
     }
    
     .item h5{
      margin-right:80px; 
     }

     .box-itens{
     display:flex;
     flex-direction:column;
     justify-content:center;
     align-items:center;  
     }

     .box-contato{
      display:flex;
      flex-direction:column;
      align-items:center;
      justify-content:center; 
     }
      

      }


     